@font-face {
  font-family: 'Monomakh';
  src: url('/fonts/Monomakh.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tenor Sans';
  src: url('/fonts/TenorSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Colors */
  --hue-blan: #FFFFFF;
  --hue-gris: #B4BEC9;
  --hue-bleu: #DEEFE7;
  --hue-vert: #159A9C;
  --hue-noir: #002333;
  --background: var(--hue-gris);
  --foreground: var(--hue-noir);


}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--hue-noir);
    --foreground: var(--hue-gris);
  }
}
/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* General Styling */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Tenor Sans', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Monomakh', sans-serif;
  color: var(--hue-gris);
}

* {
  box-sizing: border-box;
  padding: 0;
}
p, ul {
  font-size: 1rem;
  color: var(--hue-bleu);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
