.container {
  text-align: center;
}
.container .gauche {
  width: 50%;
}
.container .droite {
  width: 100%;
}
.container p {
  padding: 1rem;
}
.title {
  width: 100vw;
  font-size: 4rem;
  font-weight: 700;
  opacity: 0.7;
  letter-spacing: -.25rem;
  margin-bottom: -2rem;
}

/* Section Style */
.portfolio, .about, .skills, .projects {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio {
  background-image:
  radial-gradient( circle farthest-corner at 10% 30%,
  var(--hue-vert) 0%,
  var(--hue-noir) 90%);
  color: var(--hue-noir);
}

.about img {
  min-width: 5rem;
  height: 100%;
  margin: auto;
}
.about h1 {
  font-size: 1.5rem;
}

.skills {
  background-image:
  radial-gradient( circle farthest-corner at 10% 30%,
  var(--hue-noir) 0%,
  var(--hue-noir) 90%);
}
.skills ul {
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills li {
  padding: 0 .5rem;
}

.projects {
  background-image:
  radial-gradient( circle farthest-corner at 10% 30%,
  var(--hue-noir) 0%,
  var(--hue-noir) 90%);
  color: var(--hue-noir);
}

@media (width > 660px) {
  .title {
    font-size: 5rem;
  }
  .about, .skills {
  flex-direction: row;
  }
  .gauche {
    width: 50%;
    margin: 2rem
  }
  .droite {
    width: 50%;
    margin: 0 5rem 0 0;
  }
  .about img {
    min-width: 5rem;
    height: 100%;
    margin: auto;
  }
}